@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 50px;
}
.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
 
}